<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="contato.css">
</head>

<body>
  <header>
    <div class="logo">4MEI</div>
    <nav>
      <a href="#">Home</a>
      <a href="#Sobre">Sobre</a>
      <a href="#">Serviços</a>
      <a href="#">Contato</a>
    </nav>
    <a href="Calculo.html" class="btn-signup">Calcular</a>
  </header>
  <div class="contatDestaque">
    <div class="content">
      <h1>Tem alguma pergunta?</h1>
      <p>Obrigado por confiar nos nossos serviços, por favor preencha os campos abaixo com os seus <span
          id="destaque">dados</span> para podermos contatar você.</p>
    </div>
  </div>
  <div class="contactMain">
    <div class="leftContent">
      <img src="IMGS/Contact us-bro.svg" alt="Ilustração de contato">
      <div class="info">
        <p><strong>📞</strong> +1-760-284-3410</p>
        <p><strong>📧</strong> hello@demoemail.com</p>
        <p><strong>📍</strong> 931 Abia Martin Drive, PA<br> Pennsylvania - 18104</p>
      </div>
    </div>

    <div class="contactForm"> 
      <form>
        <input type="text" placeholder="Primeiro Nome *" required>
        <input type="text" placeholder="Ultimo Nome" required>
        <input type="text" placeholder="Telefone *" required>
        <input type="email" placeholder="Email *" required>
        <textarea placeholder="Message"></textarea>
        <button type="submit">ENVIAR MENSAGEM</button>
        <p class="privacy-text">
          A Empresa não vende, compartilha ou comercializa informações de clientes. Sua privacidade é importante para
          nós..</p>
      </form>
    </div>
  </div>







</body>

</html>